.page {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.selectPage {
    /* width: 100vw;
    flex: 1;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 100px;
}

.selectPage p {
    color: #7F7F7F;
    font-family: Microsoft YaHei;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 10px;
}


.list {
    display: flex;
    align-items: center;
    gap: 100px;
    list-style: none;
    justify-content: center;
}

.list li {
    list-style: none;
    cursor: pointer;
    box-sizing: border-box;
    padding: 0 20px;
    transition: all 0.3s;
    color: #424242;
    font-family: Microsoft YaHei;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    align-items: center;
    gap: 10px;
    padding-bottom: 10px;
}

.list li:hover {
    color: #1890FF;
}

.itemSelected {
    color: #1890FF;
    position: relative;
}

.list li.itemSelected {
    color: #1890FF;
}

.itemSelected::after {
    width: 100%;
    height: 4px;
    background-color: #1890FF;
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
}

.footer {
    max-width: 1080px;
    margin: 0 auto;
    color: #7F7F7F;
    font-family: Microsoft YaHei;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 50px;
}

.header p {
    color: #7F7F7F;
    font-family: Microsoft YaHei;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 10px;
    text-align: center;
}

.header h1 {
    color: #000;
    font-family: Microsoft YaHei;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    /* padding-top: 50px; */
}

.categoryMain {
    display: block;
    width: 700px;
    margin: 0 auto;
}

.categoryItem {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 175px;
    margin-top: 20px;
}

.categoryItemChildrenParent {
    width: 220px;

}
.categoryItemChildrenParent h3 {
    text-align: center;
    margin: 0;
    padding-bottom: 10px;
    color: #000;
}

.categoryItemChildren {
    width: 220px;
    height: 128px;
    cursor: pointer;
    position: relative;
    margin-bottom: 10px;
}

.categoryItemChildren svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}